body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
    /*tirando a bolinha da LI que vem por padrão*/
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: auto;
    float: left;
}

.container {
    display: block;
    width: 1050px;
    margin: 0 auto;
}

.fluid {
    width: 1050px;
    height: auto;
    float: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.titulo {
    color: #fff;
}

.sub-titulo {
    color: #7A7A7A;
    font-size: 19px;
    display: flex;
    margin-bottom: 20px;
}

.linha-baixo-1 {
    border: solid #E3E3E3;
    border-width: 1px 0 0;
    clear: both;
}

.menu-abrir,
.menu-fechar {
    display: none;
}

.menu-ativo {
    color: #F06000;
}

.menu {
    background-color: #000;
    position: fixed;
    z-index: 1;
}

.menu .container .fluid .menu-principal {
    display: flex;
    justify-content: space-around;
    min-height: 8vp;
}

.menu .container .fluid .menu-principal a {
    text-transform: uppercase;
    color: #fff;
    /*letter-spacing: 3px; -- espacamento entre as letras*/
    font-weight: bold;
}

.menu .container .fluid .menu-principal a:hover {
    color: #F06000;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.resumo {
    background: #161415 url(../img/header-background.jpg) top center;
    width: 100%;
    height: 1000px;
    min-height: 500px;
    text-align: center;
    overflow: hidden;
}

.resumo .container .fluid .left h1 {
    text-transform: none;
}

.resumo .container .fluid .cabecalho {
    text-align: center;
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}

.resumo .container .fluid .social {
    padding-top: 30px;
    display: inline-flex;
}

.resumo .container .fluid .social .rede {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
}

.resumo .container .fluid .social .rede:hover {
    cursor: pointer;
    transform: translateY(-20px);
}

.resumo .container .fluid .social .fb {
    background-color: #333333;
}

.resumo .container .fluid .social .lk {
    background-color: #333333;
}

.resumo .container .fluid .social .gmail {
    background-color: #333333
}

.resumo .container .fluid .social .yt {
    background-color: #333333;
}

.resumo .container .fluid .social .rede .icone {
    margin-top: 35px;
    width: 80px;
}

.intro {
    background-color: #2B2B2B;
    height: 100%;
}

.intro .container .fluid .img img {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin: 15px 15px 0 0;
}

.intro .container .fluid .sobre {
    display: contents;
    margin-right: 500px;
    font-size: 18px;
}

.formacao {
    background-color: #fff;
}

.formacao .container .fluid .tituloForm {
    margin: 30px -110px 0px 0;
}

.formacao .container .fluid .especificacao {
    margin: 50px 0px 40px 194px;
}

.experiência .container .fluid .desc-exp h3,
.formacao .container .fluid .especificacao h3 {
    font-size: 24px;
    margin-bottom: -10px;
    text-transform: none;
}

.experiência .container .fluid .desc-exp span,
.experiência .container .fluid .desc-exp p,
.formacao .container .fluid .especificacao span,
.formacao .container .fluid .especificacao p {
    color: #6E7881;
    font-size: 15px;
}

.experiência .container .fluid .desc-exp .info,
.formacao .container .fluid .especificacao .info {
    font: italic 18px 'librebaskerville-italic', serif;
}

.experiência {
    background-color: #FFF;
}

.experiência .container .fluid .expe-info {
    margin-top: 30px;
    margin-bottom: -73px;
}

.experiência .container .fluid .desc-exp {
    margin-left: 194px;
    margin-bottom: 40px;
    margin-top: -9px;
}

.skill .container .fluid .skill-titulo {
    margin: 30px 0 170px 0;
}

.skill .container .fluid .skill-desc {
    margin-top: 45px;
    padding-left: 70px;
}

.skill .container .fluid .skill-desc .lista-progress li {
    width: 46%;
    float: left;
}

.skill .container .fluid .skill-desc .lista-progress .percent {
    color: #f7b200;
}

.skill .container .fluid .skill-desc .lista-progress .upper {
    text-transform: uppercase;
}

.skill .container .fluid .skill-desc .lista-progress .progress-bar {
    height: 8px;
    width: 300px;
    padding: 2px;
    background-color: #ccc;
    display: flex;
    border-radius: 50px;
}

.skill .container .fluid .skill-desc .lista-progress .progress-bar::before {
    content: "";
    background-color: #f7b200;
    border-radius: 50px;
    width: 50px;
    width: calc(var(--progress) * 1%);
}

.rodape {
    background-color: #000;
    height: 100%;
}

.rodape .container .fluid h2,
.rodape .container .fluid p,
.rodape .container .fluid span {
    color: #fff;
}

.rodape .container .fluid .contato h2 {
    margin: -20px 0 15px 0;
}

.rodape .container .fluid .contato span p {
    font-size: 15px;
    margin: -3px 0 0 15px;
}

.rodape .container .fluid .contato span {
    display: flex;
}

.rodape .container .fluid .contato {
    float: right;
    display: block;
    margin: 40px 0 0 0;
}

.rodape .container .fluid .contato img {
    margin: 0 10px 10px 0;
}

.rodape .container .fluid .contato span .location {
    height: 25px;
}

.rodape .container .fluid .contato span span {
    font-size: 20px;
    margin: 14px 0 10px -56px;
}

.rodape .container .fluid .direitos p {
    text-transform: uppercase;
    text-align: center;
}


/* animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="down"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}