@media all and (min-width: 1026px) and (max-width: 1220px) {
    .nav {
        min-width: 970px;
    }
    .container,
    .fluid {
        width: 907px;
    }
    .resumo .container .fluid .social {
        margin-left: 270px;
    }
}

@media all and (min-width: 941px) and (max-width: 1025px) {
    .nav {
        min-width: 829px;
    }
    .container,
    .fluid {
        width: 824px;
    }
    .left * {
        font-size: 25px;
    }
    .right * {
        font-size: 25px;
    }
    .resumo .container .fluid .left h1 {
        font-size: 50px;
    }
    .resumo .container .fluid .social {
        width: 729px;
        margin-left: 230px;
    }
    .resumo .container .fluid .social .rede {
        margin-left: 40px;
        width: 130px;
        height: 130px;
    }
    .resumo .container .fluid .social .rede .icone {
        width: 70px;
        margin-top: 26px
    }
    .rodape .container .fluid .atalho a {
        font-size: 20px;
    }
    .rodape .container .fluid .contato {
        margin-top: 75px;
    }
}

@media all and (min-width: 781px) and (max-width: 940px) {
    .nav {
        min-width: 722px;
    }
    .container,
    .fluid {
        width: 665px;
    }
    .left * {
        font-size: 25px;
    }
    .right * {
        font-size: 25px;
    }
    .titulo {
        margin-bottom: 0px;
    }
    .sub-titulo {
        font-size: 16px;
    }
    .resumo .container .fluid .cabecalho {
        margin-top: 70px;
    }
    .resumo .container .fluid .left h1 {
        font-size: 40px;
    }
    .resumo .container .fluid .social {
        width: 90%;
        margin-left: 170px;
    }
    .resumo .container .fluid .social .rede {
        margin-left: 40px;
        width: 110px;
        height: 110px;
    }
    .resumo .container .fluid .social .rede .icone {
        width: 60px;
        margin-top: 23px;
    }
    .intro .container .fluid .img img {
        width: 100px;
        margin-left: 0px;
    }
    .skill .container .fluid .skill-desc .lista-progress {
        margin: 60px 0 50px 0;
    }
    .skill .container .fluid .skill-desc .lista-progress li {
        float: none;
    }
    .skill .container .fluid .skill-desc .lista-progress .progress-bar {
        width: 480px;
    }
    .rodape .container .fluid .atalho li {
        margin-bottom: -13px;
    }
    .rodape .container .fluid .contato {
        margin-top: 60px;
    }
    .rodape .container .fluid .contato h2 {
        margin-bottom: 10px;
    }
    .rodape .container .fluid .atalho a,
    .rodape .container .fluid .contato,
    .rodape .container .fluid .direitos p {
        font-size: 15px;
    }
    .rodape .container .fluid .contato img {
        margin: 0 5px 5px 0;
        width: 22px;
        height: 22px;
    }
}

@media (min-width: 641px) and (max-width: 780px) {
    body {
        overflow-x: hidden;
    }
    .nav {
        min-width: 570px;
    }
    .container,
    .fluid {
        width: 580px;
    }
    .left * {
        font-size: 21px;
    }
    .right * {
        font-size: 23px;
    }
    .sub-titulo {
        font-size: 14px;
    }
    .barra-nav {
        background-color: #000;
        /* padding: 1em;*/
        margin: 0;
        height: 100%;
        width: 90%;
        max-width: 320px;
        position: fixed;
        top: 0;
        left: -90%;
        transition: left 0.3s ease-out;
    }
    .menu {
        height: 40px;
        position: fixed;
    }
    .menu-abrir,
    .menu-fechar {
        border: 0;
        background-color: #000;
        cursor: pointer;
        display: block;
    }
    .menu-abrir img {
        margin-left: -15px;
    }
    .menu-abrir img,
    .menu-fechar img {
        margin-top: 5px;
    }
    .menu-ativo .barra-nav {
        left: 0;
    }
    .menu .container .fluid .menu-principal {
        display: flex;
        flex-direction: column;
    }
    .menu .container .fluid .menu-principal li {
        padding: 1em 0;
        width: 100%;
    }
    .menu-ativo:after {
        content: "";
        display: block;
        /*position: fixed;*/
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .resumo .container .fluid .cabecalho {
        margin-top: 75px;
    }
    .resumo .container .fluid .left h1 {
        font-size: 40px;
    }
    .resumo .container .fluid .social .rede {
        margin-left: 44px;
        width: 80px;
        height: 80px;
    }
    .resumo .container .fluid .social .rede .icone {
        width: 40px;
        margin-top: 20px;
    }
    .intro .container .fluid .img img {
        width: 100px;
    }
    .intro .container .fluid .sobre .titulo {
        margin-bottom: 10px;
    }
    .formacao .container .fluid .tituloForm {
        float: none;
        margin-left: 240px;
    }
    .formacao .container .fluid .especificacao h3 {
        font-size: 22px;
    }
    .formacao .container .fluid .especificacao {
        margin: 40px 0px 40px 33px;
    }
    .experiência .container .fluid .expe-info {
        float: none;
        margin-left: 240px;
        margin-bottom: -10px;
    }
    .experiência .container .fluid .desc-exp {
        margin-left: 40px;
    }
    .skill .container .fluid .skill-titulo {
        float: none;
        margin: -1px 0px -42px 240px;
    }
    .skill .container .fluid .skill-desc .lista-progress li {
        float: none;
    }
    .skill .container .fluid .skill-desc .lista-progress .progress-bar {
        width: 410px;
    }
    .skill .container .fluid .skill-desc .lista-progress {
        margin-bottom: 50px;
    }
    .rodape .container .fluid .contato {
        margin-top: 75px;
    }
    .rodape .container .fluid .atalho a,
    .rodape .container .fluid .contato,
    .rodape .container .fluid .direitos p {
        font-size: 16px;
    }
}

@media all and (max-width: 640px) {
    .left * {
        font-size: 21px;
    }
    .right * {
        font-size: 23px;
    }
    .sub-titulo {
        font-size: 14px;
        margin: 0px 10px 10px 20px;
        padding: 0;
        display: table;
    }
    .titulo {
        margin-bottom: 0;
        margin-left: 20px;
    }
    .barra-nav {
        background-color: #000;
        /* padding: 1em;*/
        margin: 0;
        height: 100%;
        width: 90%;
        max-width: 320px;
        position: fixed;
        top: 0;
        left: -90%;
        transition: left 0.3s ease-out;
    }
    .menu {
        height: 40px;
        position: fixed;
    }
    .menu-abrir,
    .menu-fechar {
        border: 0;
        background-color: #000;
        cursor: pointer;
        display: block;
    }
    .menu-abrir img {
        margin-left: -15px;
    }
    .menu-abrir img,
    .menu-fechar img {
        margin-top: 5px;
    }
    .menu-ativo .barra-nav {
        left: 0;
    }
    .menu .container .fluid .menu-principal {
        display: flex;
        flex-direction: column;
    }
    .menu .container .fluid .menu-principal li {
        padding: 1em 0;
        width: 100%;
    }
    .menu-ativo:after {
        content: "";
        display: block;
        /*position: fixed;*/
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .resumo .container .fluid .cabecalho {
        margin-top: 80px;
    }
    .resumo .container .fluid .left h1 {
        font-size: 30px;
    }
    .resumo .container .fluid .social {
        display: inline-flex;
    }
    .resumo .container .fluid .social .rede {
        margin-left: 30px;
        width: 80px;
        height: 80px;
    }
    .resumo .container .fluid .social .rede .icone {
        width: 40px;
        margin-top: 20px;
    }
    .intro {
        height: 100%
    }
    .intro .container .fluid .img img {
        width: 100px;
        float: left;
        position: absolute;
        margin-left: -90px;
    }
    .formacao .container .fluid .tituloForm,
    .experiência .container .fluid .expe-info,
    .skill .container .fluid .skill-titulo {
        float: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .formacao .container .fluid .especificacao,
    .experiência .container .fluid .desc-exp {
        display: contents;
        margin: 0;
    }
    .skill .container .fluid .skill-desc .lista-progress .progress-bar {
        width: 360px;
    }
    .skill .container .fluid .skill-desc .lista-progress {
        margin: -30px 0 45px -30px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .skill .container .fluid .skill-desc .lista-progress li {
        float: none;
    }
    .rodape .container .fluid .atalho {
        margin-left: 5px;
    }
    .rodape .container .fluid .atalho a {
        font-size: 15px;
    }
    .rodape .container .fluid .contato {
        float: right;
    }
}

@media all and (min-width: 541px) and (max-width: 640px) {
    .nav {
        min-width: 520px;
    }
    .container,
    .fluid {
        width: 420px;
    }
}

@media all and (max-width: 540px) {
    .nav {
        min-width: 320px;
    }
    .container,
    .fluid {
        width: 240px;
    }
    .left * {
        font-size: 19px;
    }
    .titulo {
        margin-bottom: 0;
        margin-left: 50px;
    }
    .sub-titulo {
        font-size: 11px;
        margin: 0;
        margin-left: 50px;
        display: inline-flex;
        padding-bottom: 10px;
    }
    .barra-nav {
        background-color: #000;
        /* padding: 1em;*/
        margin: 0;
        height: 100%;
        width: 90%;
        max-width: 320px;
        position: fixed;
        top: 0;
        left: -90%;
        transition: left 0.3s ease-out;
    }
    .menu {
        height: 40px;
    }
    .menu-abrir img {
        margin-left: -10px;
    }
    .menu-abrir,
    .menu-fechar {
        border: 0;
        background-color: #000;
        cursor: pointer;
        display: block;
    }
    .menu-abrir img,
    .menu-fechar img {
        margin-top: 5px;
    }
    .menu-ativo .barra-nav {
        left: 0;
    }
    .menu .container .fluid .menu-principal {
        display: flex;
        flex-direction: column;
    }
    .menu .container .fluid .menu-principal li {
        padding: 1em 0;
        width: 100%;
    }
    .menu-ativo:after {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .resumo .container .fluid .left h1 {
        font-size: 26px;
    }
    .resumo .container .fluid .cabecalho p {
        font-size: 17px;
    }
    .resumo .container .fluid .social .rede {
        margin-left: 20px;
        width: 75px;
        height: 75px;
    }
    .resumo .container .fluid .social .rede .icone {
        width: 40px;
        margin-top: 20px;
    }
    .intro .container .fluid .sobre {
        margin-bottom: 0px;
    }
    .intro .container .fluid .img img {
        width: 80px;
        float: left;
        position: absolute;
        margin-left: -35px;
    }
    .formacao .container .fluid .especificacao span {
        margin-left: -2px;
        font-size: 11px;
    }
    .experiência .container .fluid .desc-exp .info,
    .formacao .container .fluid .especificacao .info {
        font: italic 13px 'librebaskerville-italic', serif
    }
    .experiência .container .fluid .desc-exp span,
    .experiência .container .fluid .desc-exp p,
    .formacao .container .fluid .especificacao p {
        font-size: 11px;
        margin-left: -6px;
    }
    .experiência .container .fluid .desc-exp h3,
    .formacao .container .fluid .especificacao h3 {
        font-size: 18px;
        margin-left: -5px;
    }
    .skill .container .fluid .skill-desc .lista-progress {
        margin-left: -65px;
    }
    .skill .container .fluid .skill-desc .lista-progress .progress-bar {
        width: 210px;
    }
    .skill .container .fluid .skill-desc .lista-progress .percent {
        font-size: 15px;
    }
    .skill .container .fluid .skill-desc .lista-progress .upper {
        font-size: 15px;
    }
}